
<td class="sunday">
<% if (assignment["dueDateInWeek"]===0 )
{ %>
  <%- include("partials/calendar-module1.ejs", { assignment : assignment, isInstructor:isInstructor }) -%>
} %>
</td>

<td class="monday">
<% if (assignment["dueDateInWeek"]===1 )
{ %>
<%- include("partials/calendar-module1.ejs", { assignment : assignment, isInstructor:isInstructor }) -%>
} %>
</td>
<td class="tuesday">
<% if (assignment["dueDateInWeek"]===2 )
{ %>
<%- include("partials/calendar-module1.ejs", { assignment : assignment, isInstructor:isInstructor }) -%>
} %>
</td>
<td class="wednesday">
<% if (assignment["dueDateInWeek"]===3 )
{ %>
<%- include("partials/calendar-module1.ejs", { assignment : assignment, isInstructor:isInstructor }) -%>
} %>
</td>
<td class="thursday">
<% if (assignment["dueDateInWeek"]===4 )
{ %>
<%- include("partials/calendar-module1.ejs", { assignment : assignment, isInstructor:isInstructor }) -%>
} %>
</td>
<td class="friday">
<% if (assignment["dueDateInWeek"]===5 )
{ %>
<%- include("partials/calendar-module1.ejs", { assignment : assignment, isInstructor:isInstructor }) -%>
} %>
</td>
<td class="saturday">
<% if (assignment["dueDateInWeek"]===0 )
{ %>
<%- include("partials/calendar-module1.ejs", { assignment : assignment, isInstructor:isInstructor }) -%>
} %>
</td>